#Android generated
bin
gen

#Eclipse
.project
.classpath
.settings

#IntelliJ IDEA
.idea
*.iml
classes

#Maven
target
release.properties
pom.xml.*

#Command line
build.xml
proguard-project.txt

.gradle/
local.properties
.idea/workspace.xml
.idea/libraries/
.DS_Store
build/
bin/
captures/
gradle/wrapper/gradle-wrapper.jar

